*.a
*.o
*.so
*.lo
*.la
*.log
*.trs
*~
*.libs
*.in
*.m4
*Makefile
*Makefile.in
*.deps
*.dirstamp
aclocal.m4
ar-lib
autom4te.cache/
autoscan.log
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.ac.bak
configure.scan
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
msolve.pc
/msolve

/fglm_build_matrixn_nonradical_radicalshape-31
/fglm_build_matrixn_nonradical_shape-31
/fglm_build_matrixn_radical_shape-31
/line_endings_support
/neogb_io
/test-driver
/*.ms